html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}


/* li{list-style:none;} */

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}


/* to preserve line-height and selector appearance */

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/*to enable resizing for IE*/

input,
textarea,
select {
    *font-size: 100%;
}


/*because legend doesn't inherit in IE */

legend {
    color: #000;
}

html {
    background-color: gray;
}

.clear {
    clear: both
}

a {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
label,
p,
li {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #f7f8cd;
}

h1 {
    font-size: 22px;
    padding-bottom: 15px;
}

h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

h3 {
    font-size: 18px;
    padding-bottom: 15px;
}


/**************/


/* menu navigate */


/**************/

.menu {
    text-align: center;
}

.menu ul {
    padding-top: 50px;
}

.menu#top ul {
    background-color: #121314;
    padding-top: 10px;
    border: none;
}

.menu ul li {
    list-style: none;
    display: inline;
}

.menu ul li a {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: normal;
    color: #f7f8cd;
    text-transform: uppercase;
}

.menu ul li.current {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: default;
    font-size: 36px;
    border-bottom: solid 4px #545454;
    text-transform: uppercase;
}

.menu#top ul li.current {
    background-color: #DF0174;
    color: #fff;
    border: none;
    font-weight: normal;
}

.menu li a:hover {
    color: #FFF;
}


/**********/


/* Site  */


/********/

#header_wrap {
    width: 990px;
    margin: auto;
    padding-top: 60px;
}

*html #header_wrap {
    width: 1050px;
}

#header {
    height: 800px;
}

#header p {
    font-size: 22px;
}

#logo {
    width: 224px;
    height: 368px;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
}

*html #logo {
    background-image: url(../img/logo.jpg);
}

#logo {
    float: left;
    width: 230px;
    text-align: center;
    text-transform: capitalize;
}

#logo h1 {
    display: inline-block;
    margin-top: 300px;
}

#aboutMe {
    width: 330px;
    float: left;
    padding-left: 30px;
}

#aboutMe p {}

#aboutMe a {
    display: block;
    background-image: url(../images/arrow.gif);
    width: 185px;
    height: 50px;
    color: #f7f8cd;
    padding-left: 5px;
    margin-top: 10px;
}

#aboutMe a:hover {
    color: #b5f809;
}

#Ido {
    width: 330px;
    float: left;
    padding-left: 30px;
}

#Ido p {}

#Ido p span#text_bg {
    background-color: #121314;
    padding-left: 0px;
    padding-right: 0px;
}

#Ido p span {
    color: #f7f8cd;
    padding: 2px;
    line-height: 29px;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#Ido p span span {
    white-space: nowrap;
}


/**************/


/* carousel stuff */


/**************/

.container {
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: solid 1px #545454;
}

.fade {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0px;
    z-index: 5;
    background-repeat: repeat-y;
}

.fade-left {
    left: 0px;
    background-image: url(fleche1.png);
    background-position: left top;
    cursor: url(cursor-left.gif), w-resize;
}

*html .fade-left {
    background-image: none;
}

.list-container {
    position: relative;
    overflow: auto;
}

#list,
#list2,
#list3,
#list4,
#list5 {
    width: 17000px;
}

.item {
    list-style: none;
    float: left;
    width: 470px;
    margin-left: 30px;
}

.item .red,
.red {
    color: #CC3366;
}

.item .blue,
.blue {
    color: #00C2CC;
}

.small {
    width: auto;
    height: 100px;
    padding-top: 20px;
}

.short {
    height: 200px;
    width: 250px;
}

.space {
    height: 200px;
    width: 70px;
}