/**********/


/* reset */


/********/

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}


/* li{list-style:none;} */

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}


/* to preserve line-height and selector appearance */

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/*to enable resizing for IE*/

input,
textarea,
select {
    *font-size: 100%;
}


/*because legend doesn't inherit in IE */

legend {
    color: #000;
}

.clear {
    clear: both
}

a {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
label,
p,
li {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #F5F7FA;
}

h1 {
    font-size: 16px;
    padding-bottom: 15px;
}

h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

h3 {
    font-size: 18px;
    padding-bottom: 15px;
}


/**********/


/* Site  */


/********/

html,
body {
    background-color: rgb(34, 144, 152);
    background-image: url(../imag/space.png);
}

#wrap {}

#header_wrap {
    width: 990px;
    margin: auto;
    padding-top: 60px;
}

*html #header_wrap {
    width: 1050px;
}

#header {
    background-color: rgb(52, 152, 219);
    height: 800px;
}

#header p {
    font-size: 18px;
}

#hello {
    color: #ECF0F1;
    font-weight: 900;
    font-size: 30px;
}

#intro {
    font-weight: 100;
    font-size: 10px;
    color: #F5F7FA;
    display: block;
    text-align: left;
    margin-left: 27%;
}

#logo {
    width: 224px;
    height: 168px;
    background-image: url(../images/);
    background-repeat: no-repeat;
}

*html #logo {
    background-image: url(../images/logo.gif);
}

#aboutMe {
    width: 330px;
    float: left;
    padding-left: 30px;
}

#aboutMe p {}

#aboutMe a {
    display: block;
    background-image: url(../images/w);
    width: 185px;
    height: 50px;
    color: #ecf0f1;
    padding-left: 5px;
    margin-top: 10px;
}

#aboutMe a:hover {
    color: #b5f809;
}

#Ido {
    width: 330px;
    float: left;
    padding-left: 30px;
}

#Ido p {}

#Ido p span#text_bg {
    background-color: #121314;
    padding-left: 0px;
    padding-right: 0px;
}

#Ido p span {
    color: #f54cb1;
    padding: 2px;
    line-height: 29px;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#Ido p span span {
    white-space: nowrap;
}

#logo {
    float: left;
    width: 270px;
}

#logo h1 {
    display: none;
}

.center_box {
    width: 990px;
    margin: auto;
}

.item h1 {
    padding-right: 50px;
}

.content p {
    color: #F5ECD9;
    padding-right: 20px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.content p a,
.content h1 a,
h1.content a {
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #00c2cc;
    color: #00c2cc;
}

.content p a:hover,
.content h1 a:hover {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cc3366;
    color: #cc3366;
}

.error {
    color: #cc3366;
}

.success {
    color: #00c2cc;
}

.lCol {
    width: 45%;
    float: left;
}

.rCol {
    width: 45%;
    float: right;
}

.img_bord {
    background: #333;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    float: left;
}

.staff {
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 300px;
    width: 470px;
}

.staff h1 {
    padding-left: 20px;
    float: left;
    width: 230px;
    padding-right: 0px;
}

.staes ff p {
    width: 200px;
    float: right;
}

.dean {
    background-image: url(../staff/dean.gif);
}

.dave {
    background-image: url(../staff/dave.gif);
}


/**************/


/* Menu stuff */


/**************/

.menu {
    text-align: center;
}

.menu ul {
    padding-top: 10px;
}

.menu#top ul {
    background-color: rgb(34, 144, 152);
    border: none;
}

.menu ul li {
    list-style: none;
    display: inline;
}

#menuPort {
    background-color: rgb(34, 144, 152);
}

.menu ul li a {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: normal;
    color: #F5ECD9;
    text-transform: uppercase;
}

.menu ul li.current {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: default;
    font-size: 36px;
    border-bottom: solid 4px #545454;
    text-transform: uppercase;
}

.menu#top ul li.current {
    background-color: #00C2CC;
    color: #f2f7f9;
    border: none;
    font-weight: normal;
}

.menu li a:hover {
    color: #FFF;
}

#port {
    background-color: rgb(228, 226, 214);
}

.passionate {
    margin-left: 10%;
    text-align: left;
    font-family: Roboto, sans-serif;
    color: rgba(232, 77, 91, 0.992157);
    font-weight: 100;
    font-size: 25px;
}

#time {
    margin-left: 10%;
    text-align: left;
    opacity: 0.5;
    font-family: Roboto, sans-serif;
    color: rgb(43, 172, 181);
    font-weight: 100;
    font-size: 25px;
}


/* form stuff */


/**************/

#myForm {
    background: #000;
    background: rgba(0, 20, 21, 0.5);
    border: dotted 1px #00c2cc;
    padding: 20px;
}

#myForm label {
    display: block;
    margin-bottom: 4px;
}

#myForm input,
#myForm textarea {
    margin-bottom: 20px;
    background-color: #333;
    border: solid 1px #666;
    color: #ecf0f1;
    padding: 4px;
    font-size: 20px;
    width: 250px;
    clear: both;
}

#myForm input#submitter {
    width: 80px;
    margin-bottom: 0px;
}

#myForm textarea {
    width: 350px;
}

#log {}

#log_res {
    overflow: auto;
}

#log_res.ajax-loading {
    background: url(loading.gif) no-repeat left;
    height: 32px;
    width: 300px;
}


/**************/


/* part angular */

.hecho-true {
    text-decoration: line-through;
    color: dimgray
}


/*****slide******/

.sp-slideshow {
    position: relative;
    margin: 10px auto;
    width: 80%;
    max-width: 1000px;
    min-width: 260px;
    height: 460px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.sp-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-parallax-bg {
    background: url(../images/map.jpg) repeat-x scroll 0 0;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 9px;
    height: 9px;
    z-index: 1001;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-slideshow input + label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    display: block;
    z-index: 1000;
    border: 3px solid #fff;
    border: 3px solid rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}

.sp-slideshow input:checked + label {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}

.sp-selector-1,
.button-label-1 {
    margin-left: -36px;
}

.sp-selector-2,
.button-label-2 {
    margin-left: -18px;
}

.sp-selector-4,
.button-label-4 {
    margin-left: 18px;
}

.sp-selector-5,
.button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 38px;
    margin-top: -19px;
    display: none;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1000;
    background: transparent url(../images/arrows.png) no-repeat;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}

.sp-arrow:hover {
    opacity: 1;
}

.sp-arrow:active {
    margin-top: -18px;
}

.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: 15px;
    display: block;
    background-position: top right;
}

.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: 15px;
    display: block;
    background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;
    background-color: #727b7f;
}

input.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
    background-color: #7f7276;
}

input.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
    background-color: #737f72;
}

input.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
    background-color: #79727f;
}

input.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
    background-color: #7d7f72;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
    left: 0;
    width: 500%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s;
}

.sp-slider > li {
    color: #fff;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 60px;
    float: left;
    text-align: center;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s;
}

.sp-slider > li img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5) {
    opacity: 1;
}

@media screen and (max-width: 840px) {
    .sp-slideshow {
        height: 345px;
    }
}

@media screen and (max-width: 680px) {
    .sp-slideshow {
        height: 285px;
    }
}

@media screen and (max-width: 560px) {
    .sp-slideshow {
        height: 235px;
    }
}

@media screen and (max-width: 320px) {
    .sp-slideshow {
        height: 158px;
    }
}

#conact {
    background-color: rgb(232, 77, 91);
}

.contactIcons {
    width: 20px;
    font-family: Roboto, sans-serif;
    display: block;
}

.imgIcon {
    margin-bottom: 5px
}

text {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #F5F7FA;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}

text:hover {
    color: #b5f809;
}