<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<meta name="keywords" content="pagina, html5, css, maquetación">
<meta name="description" content="Pagina Web personal">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="../favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet'
      type='text/css'>


<!-- Latest compiled and minified CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

<script src="js/page.js"></script>
<script src="js/slide.js"></script>

<head>
    <title>TaniaTello</title>
</head>

<body>
<section class="main">

    <header class="menu" id="top">
        <a name="about" id="about"></a>
        <div class="menu" id="top">
            <ul>
                <li class="current"><span>about</span></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>
    </header>

    <div id="header">
        <section id="header_wrap">
            <div id="logo">
                <h1>lalalaCode make easy</h1>
            </div>
            <div id="head">
                <div id="flat1"><img src="images/more.png" ></div>


                   </div>
            <div id="flat"><img src="images/monitor.png" ></div>

            <div id="hello">Hello! Im Tania Tello.</div>


                <div class ="paragraph">


                    My goal is to be able to grow in knowledge in areas of information technology since I have the
                    strong idea that the new technology and knowledge in areas of information technology since I have
                    the strong idea that the new technology

               </div>


            <div class="paragraph2">

                    I have the
                    strong idea that the new technology and knowledge in areas of information technology since I have
                    the strong idea that the new technology I have
                    the strong idea that the new technology


            </div>

        </section>
    </div>

    <div class="menu">
        <a name="portfolio" id="portfolio"></a>
        <ul id="menuPort">
            <li><a href="#about">about</a></li>
            <li class="current">portfolio</li>
            <li><a href="#contact">contact</a></li>
        </ul>
        <section id="port">
            <br>
            <br>
            <br>

            <div class="passionate">I’m passionate about my job.</div>

            <br>
            <br>
            <div id="time">And reliable. And friendly, most of the time.</div>

        <div class="sp-slideshow">

            <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked"/>
            <label for="button-1" class="button-label-1"></label>

            <input id="button-2" type="radio" name="radio-set" class="sp-selector-2"/>
            <label for="button-2" class="button-label-2"></label>

            <input id="button-3" type="radio" name="radio-set" class="sp-selector-3"/>
            <label for="button-3" class="button-label-3"></label>

            <input id="button-4" type="radio" name="radio-set" class="sp-selector-4"/>
            <label for="button-4" class="button-label-4"></label>

            <input id="button-5" type="radio" name="radio-set" class="sp-selector-5"/>
            <label for="button-5" class="button-label-5"></label>

            <label for="button-1" class="sp-arrow sp-a1"></label>
            <label for="button-2" class="sp-arrow sp-a2"></label>
            <label for="button-3" class="sp-arrow sp-a3"></label>
            <label for="button-4" class="sp-arrow sp-a4"></label>
            <label for="button-5" class="sp-arrow sp-a5"></label>

            <div class="sp-content">
                <div class="sp-parallax-bg"></div>
                <ul class="sp-slider clearfix">
                    <li><img src="images/image1.png" alt="image01"/></li>
                    <li><img src="images/image2.png" alt="image02"/></li>
                    <li><img src="images/image3.png" alt="image03"/></li>
                    <li><img src="images/image4.png" alt="image04"/></li>
                    <li><img src="images/image5.png" alt="image05"/></li>
                </ul>
            </div><!-- sp-content -->

        </div><!-- sp-slideshow -->
        <br>
        <br>
        <br>

        <a name="contact" id="contact"></a>

                <ul id="menuPort">
                    <li><a href="#about">about</a></li>
                    <li><a href="#portfolio">portfolio</a></li>
                    <li class="current">contact</li>
                </ul>
        </div>
        </section>
        <br id="conact">
        <section id="conact">
            <br>
            <br>
            <div class="container" class="container foota">
                <div class="center_box">
                    <div class="lCol">
                        <div class="content">
                            <br>
                            <br>
                            <h1>"You have come so far ... Send us a message!"
                        <br>

                    </h1>
                            <h1>or come see us!</h1>
                            <h1 class="red">
                        Adress:
                        <br>
                        Irlanda 63, Parque San Andres
                        <br>
                        Delegación Coyoacan
                    </h1>
                            <br>
                            <div cass="contactIcons">

                                <text class="imgIcon"><img src="/images/cel.png" alt="image01" /> +52 5547268810</text>
                                <text class="imgIcon"><img src="/images/message.png" alt="image02" /> tatellog@gmail.com</text>
                                <text class="imgIcon"><img src="/images/face.png" alt="image03" /> tatello.fb.com.mx</text>
                                <a href="https://github.com/tatellog" TARGET="_BLANK">
                                    <text class="imgIcon"><img src="/images/githubpng" alt="image04" /> github.com/tatellog</text>
                                    <a href="https://www.linkedin.com/in/tatellog/" TARGET="_BLANK">
                                        <text class="imgIcon"><img src="/images/in.png" alt="image05" /> www.linkedin.com/in/tatellog</text>
                                        <text class="imgIcon"><img src="/images/cv.png" alt="image05" /> View ressume</text>
                            </div>
                        </div>
                    </div>

                    <div ng-app="todoAp" class="rCol">
                        <!-- tutorial angular

                <div ng-controller="ControladorTareas as ctrl">
                    <span>{{ctrl.restantes()}} de {{ctrl.tareas.length}}</span> [ <a class="text-danger" href="" ng-click="ctrl.eliminar()">delete</a> ]
                    <ul class="unstyled">
                        <li ng-repeat="tarea in ctrl.tareas">
                            <input type="checkbox" ng-model="tarea.heccho" </li>
                            <span class="hecho-{{tarea.heccho}}">{{tarea.texto}}</span>
                    </ul>
                    <form ng-submit="agregarTarea">
                        <input type="texto" size="30" placeholder="Add a task" ng-model="ctrl.textoNuevaTarea">
                        <button class="btn btn-primary" type="submit" ng-click="ctrl.agregarTarea()">Add</button>
                    </form>
                </div>
-->


                        <h1>Or use this form:</h1>


                        <div ng-app>
                            <form id="myForm" role="form" name="forma">
                                <fieldset>
                                    <div id="log">
                                        <div id="log_res"></div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': forma.nombreU.$invalid, 'has-success': forma.nombreU.$valid}">
                                        <label>
                                            <span class="error">*</span>Name:
                                        </label>

                                        <input id="inputNombre" type="text" class="form-control" placeholder="your name" name="nombreU" ng-model="usuario.nombre" required>
                                    </div>
                                    <label>
                                        <span class="error">*</span>E.Mail:
                                    </label>
                                    <div class="form-group" ng-class="{'has-error': forma.emailU.$invalid, 'has-success': forma.emailU.$valid}">
                                        <label for="inputEmail"></label>
                                        <input id="inputEmail" type="email" class="form-control" placeholder="your email" name="emailU" ng-model="usuario.email" required>
                                        <div ng-show="forma.emailU.$dirty && forma.emailU.$invalid">
                                            <p class="help-block text-danger" ng-show="forma.emailU.$error.required">Campo obligatorio
                                            </p>
                                            <p class="help-block text-danger" ng-show="forma.emailU.$error.email">Email invalido
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <label>
                                            <span class="error"></span>Message:
                                        </label>
                                        <textarea name="message" cols="40" rows="5" placeholder="write your msg"></textarea>
                                    </div>
                                    <div class="clear"></div>

                                    <input type="submit" name="button" id="submitter" ng-disabled="forma.$invalid">

                                </fieldset>
                            </form>

                            <hr>

                        </div>
                    </div>


                    <!--
                <form role="form" name="forma" id="myForm" action="" ng-app>
                    <fieldset>
                        <div id="log">
                            <div id="log_res"></div>
                        </div>
                        <label>Name:</label>
                        <input type="text" placeholder="your name" name="nombreU" ng-model="usuario.nombre" required>
                        <label>
                            <span class="error">*</span>E.Mail:
                        </label>
                        <input type="text" name="e_mail" placeholder="your email" name="emailU" ng-model="usuario.email" required>
                        <label>
                            <span class="error">*</span>Message:
                        </label>
                        <textarea name="message" cols="40" rows="5"></textarea>
                        <div class="clear"></div>
                        <input type="submit" name="button" id="submitter" ng-disabled="forma.$invalid">
                        <div ng-show="forma.emailU.$dirty && forma.emailU.$invalid">
                            <p class="help-block text-danger" ng-show="forma.emailU.$error.required">Campo obligatorio</p>
                            <p class="help-block text-danger" ng-show="forma.emailU.$error.email">Email invalido</p>
                        </div>
                    </fieldset>
                </form>
                -->
                </div>


                <!-- examples angular-->
            </div>
            </div>
            <div class="clear"></div>


        </section>

</body>

</html>